<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<title>
			PHP Project
		</title>
		
		 <link rel="stylesheet" href="./style/style.css" />
		 
		 <!-- Material Design -->
		 <link rel="stylesheet" href="./js/bower_components/material-design-lite/material.min.css" />
		 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		
		 <script type="text/javascript" data-main="./js/main.js" src="./js/bower_components/requirejs/require.js"></script>
	</head>	
	<body ng-controller="AppMainController" ng-cloak>
		<a href="#/pessoas"> Pessoas </a>
		
		<div ng-view></div>
	</body>
</html>